<div>
    <h2 id="page-heading">
        <span jhiTranslate="projetJhipsterApp.transaction.home.title">Transactions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-transaction" [routerLink]="['/transaction/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="projetJhipsterApp.transaction.home.createLabel">
            Create a new Transaction
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="transactions?.length === 0">
        <span jhiTranslate="projetJhipsterApp.transaction.home.notFound">No transactions found</span>
    </div>
    <div class="table-responsive" *ngIf="transactions?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="frais"><span jhiTranslate="projetJhipsterApp.transaction.frais">Frais</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="montant"><span jhiTranslate="projetJhipsterApp.transaction.montant">Montant</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="commissionEtat"><span jhiTranslate="projetJhipsterApp.transaction.commissionEtat">Commission Etat</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="commissionSysteme"><span jhiTranslate="projetJhipsterApp.transaction.commissionSysteme">Commission Systeme</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="commissionReceveur"><span jhiTranslate="projetJhipsterApp.transaction.commissionReceveur">Commission Receveur</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="commissionEnvoyeur"><span jhiTranslate="projetJhipsterApp.transaction.commissionEnvoyeur">Commission Envoyeur</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="clientEnvoyeur.id"><span jhiTranslate="projetJhipsterApp.transaction.clientEnvoyeur">Client Envoyeur</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="clientReceveur.id"><span jhiTranslate="projetJhipsterApp.transaction.clientReceveur">Client Receveur</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="userEnvoyer.login"><span jhiTranslate="projetJhipsterApp.transaction.userEnvoyer">User Envoyer</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="userReceveur.login"><span jhiTranslate="projetJhipsterApp.transaction.userReceveur">User Receveur</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let transaction of transactions ;trackBy: trackId">
                <td><a [routerLink]="['/transaction', transaction.id, 'view' ]">{{transaction.id}}</a></td>
                <td>{{transaction.frais}}</td>
                <td>{{transaction.montant}}</td>
                <td>{{transaction.commissionEtat}}</td>
                <td>{{transaction.commissionSysteme}}</td>
                <td>{{transaction.commissionReceveur}}</td>
                <td>{{transaction.commissionEnvoyeur}}</td>
                <td>
                    <div *ngIf="transaction.clientEnvoyeur">
                        <a [routerLink]="['/client', transaction.clientEnvoyeur?.id, 'view' ]" >{{transaction.clientEnvoyeur?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="transaction.clientReceveur">
                        <a [routerLink]="['/client', transaction.clientReceveur?.id, 'view' ]" >{{transaction.clientReceveur?.id}}</a>
                    </div>
                </td>
                <td>
                    {{transaction.userEnvoyer?.login}}
                </td>
                <td>
                    {{transaction.userReceveur?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/transaction', transaction.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/transaction', transaction.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/transaction', { outlets: { popup: transaction.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="transactions?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
